.auth-button {
  opacity: 0;
  position: fixed;
  width: 0;

  &:checked + label {
    background-color: #ffff05;
  }

  & + label {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-width: 2px;
    border-style: solid;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s ease;

    &:hover {
      background-color: rgba(254, 255, 34, 0.44);
    }
  }
}
