@import '../../../../assets/styles/variables';

.btn {
  width: 160px;
  height: 40px;
  border: 2px solid #000;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: #f1f0f7;
  }
}
