<app-header></app-header>
<div class="main__entry">
  <div class="main__entry-item">
    <div class="main__entry-title">Добро пожаловать в Лабораторию туров</div>
    <div class="main__entry-subtitle"><p>Увлекательные образовательные путешествия для школьников</p>
      <p>Зникомство с инновационными отраслями и индустриями</p>
      <p>Возможность научиться открывать новые ресурсы в себе и пространстве города</p></div>
  </div>
  <div class="main__entry-item">
    <app-auth></app-auth>
  </div>
</div>
