.main {
  &__entry {
    margin-top: 40px;
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-content: center;

    &-item {
      max-width: 500px;
    }

    &-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 30px;
  }

    &-subtitle {
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      max-width: 375px;

      p {
        margin-bottom: 12px;
      }
    }
  }
}
