@import "fonts";

// colors

$black: #000;
$green: #36A560;
$gray_1: #7D7D89;
$white: #fff;

// fonts

$primary_font: 'Montserrat';
// font-weight
$thin:100;
$light:300;
$regular:400;
$medium: 500;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
